@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
}

button:focus,
input:focus {
	outline: none;
}

body {
	font-family: Poppins;
	min-width: 100vw;
	max-width: 100vw;
	overflow: hidden;
	height: calc(100vh);
}

/* .app {
	
} */

.content {
	display: flex;
	flex-direction: column;
	min-height: calc(100vh - 50px); /* 50px - header's height  */
	max-height: calc(100vh - 50px); /* 50px - header's height  */
	height: calc(100vh - 50px);
	overflow-x: hidden;
	overflow-y: auto;
	background: green;
}

@supports (height: calc(100vh - 50px)) {
	.content {
		background: red;
	}
}
